<%- include('./partials/heards') %>
    <div class="container">
        
        <h3>
           LISTA DE PERGUNTAS E RESPOSTAS
        </h3>
        <hr>
        <br><br>
        <% perguntas.forEach(pergunta =>{ %>
        <br>
        <div class="card">
                <div class="card-body">        
                        <%= pergunta.titulo %>            
                </div>
                <div>
                <a class="btn btn-primary" href="/pergunta/<%= pergunta.id %>" role="button">Responder </a>
                </div>    
            </div>
            <%})%>  
        </div>   
    </div>
<%- include('./partials/footer') %>