
<%- include('./partials/heards') %> 
<div class="container">
     <br>
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">REALIZE SUA PERGUNTA</h4>
                    <form method="post" action="/salvarpergunta">
                            <div class="form-group">
                                <label for="">Titulo</label>
                                <input type="text" class="form-control" name="titulo" id="" aria-describedby="helpId" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Descrição</label>
                                <textarea class="form-control" name="descricao" id="" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Perguntar</button>
                    </div>
              </form> 
        </div>
    </div>
    <%- include('./partials/footer') %> 